/*html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*/

body{
	background-color: #404040;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.sidebar{
	float: left;
	width: 300px;
	background-color: #996600;
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
	margin-right: 70px;
	color: beige;
	margin-bottom: 50px;

}
.sidebar a{
	font-family: Verdana,sans-serif;
	text-decoration: none;
	line-height: 2;
	left: 10%;
	margin-left: 20px;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
	display: inline-block;
	font-size: 15px;
	color: black;
	font-weight: bold;
	text-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
	border-bottom: solid 1px rgba(128,128,128,0.15);
	-moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0     .35s ease-in-out;
	-webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-colo     r 0.35s ease-in-out;
	-o-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.3     5s ease-in-out;
	-ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.     35s ease-in-out;
	transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s      ease-in-out;
}
.sidebar a:hover{
	color: rgb(8, 175, 245);
	border-bottom-color: transparent;
}

.sidebar h2{
	font-size: 20px;
	font-family: Verdana,sans-serif;
	margin-left: 20px;
	text-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

ul{
	padding: 0;
	list-style-type: none;
}

.mainpart{
	position: relative;
	width: 100%;
	margin-top: 50px;
	left: 40px;
}
.left-element, .right-element{
	position:relative;
}
.left-element{
	left:10%;
	float:left;
	width: 20%px;
}
.right-element{
	margin-left: 30px;
	left: 70%;
}
#header1, .header2{
	left:0%;
	width: 100%;
	display: flex;
	padding: 0;
}

#header1{
	top: 0%;
	position: fixed;
	height: 5%;
	background-color: #996600;
	color: white;
	font-family: Verdana,sans-serif;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	z-index: 100;
}
#header1 a{
	top: 3px;
	color: white;
	text-decoration: none;
	opacity: 1.0;
	font-size: 18px;
	color: white;
	text-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
	border-bottom: solid 1px rgba(128,128,128,0.15);
	-moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0     .35s ease-in-out;
	-webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-colo     r 0.35s ease-in-out;
	-o-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.3     5s ease-in-out;
	-ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.     35s ease-in-out;
	transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s      ease-in-out;
}
#header1 a:hover{
	color: rgb(8,175,245);
	border-bottom-color: transparent:
}

.header2{
	margin-top: 0px;
	font-size: 50px;
	z-index: -1;
	display: flex;
	color: white;
	text-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
	background-color: #404040;
}
#faqheader{
	position: relative;
	display: block;
	top: 50px;
	left: 50px;
}
.main-content{
	float:left;
	margin-left: 10px;
	height: 300px;
	font-size: 20px;
	color: white;
	font-family: Verdana,sans-serif;
}
.main-content dt{
	font-size: 22px;
}
.main-content dd{
	font-size: 18px;
}
.sec-faq{
	margin-bottom: 50px;
}
