<!DOCTYPE html>
<html>
	<head>
		<title>Cyberia Camp 2016 NUSSU CommIT - FAQ</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="Cyberia is a 3 days 2 nights camp organised by the NUSSU CommIT where NUS students learn Adobe Photoshop from certified trainers while enjoying fun games with new friends." />
		<meta name="keywords" content="cyberia camp 2016 nussu commit nus adobe photoshop training workshop student certified trainers camp faq" />

		<link rel="stylesheet" href="../css/style.css" />
		<link rel="stylesheet" href="../css/styleforfaq.css" />

		<link rel="icon" href="../images/logo.ico">

	</head>
	<body>

		<div id="header1">
			<div class="left-element">It's about time</div>
			<a href="../index.html" class="right-element">Home</a>
			<a href="#" class="right-element">Register</a>
		</div>

		<section class="header2">
			<div>
				<p id="faqheader">Frequently Asked Questions</p>
			</div>
		</section>

		<section class="mainpart">
			<section class="sidebar">
				<h3>Contents</h3>
				<ol>
					<li>
						<a href="#1st">What is Cyberia?</a>
					</li>
					<li>
						<a href="#2nd">What can I expect from Cyberia?</a>
					</li>
					<li>
						<a href="#3rd">Should I bring my own laptop?</a>
					</li>
					<li>
						<a href="#4th">Can I use my own laptop?</a>
					</li>
					<li>
						<a href="#5th">What will be covered during the training?</a>
					</li>
					<li>
						<a href="#6th">Who are the trainers?</a>
					</li>
					<li>
						<a href="#7th">I have signed up, but I suddenly realised I cannot make it. Can I get my money back?</a>
					</li>
					<li>
						<a href="#8th">I couldn’t make it for the whole 3 days. Is it ok?</a>
					</li>
					<li>
						<a href="#9th">What is NUSSU commIT?</a>
					</li>
					<li>
						<a href="#10th">What will happen to my personal data that I submitted to Cyberia?</a>
					</li>
				</ol>
			</section>

			<section class="main-content">
				<div class="sec-faq">
					<dt id="1st"><h5>What is Cyberia</h5></dt>
					<dd>Cyberia Camp is an annual event organized by NUSSU Committee of Information and Technology (commIT). The aim of this 3-day camp is to impart valuable IT skills (e.g. graphic design & editing) to the participants in an interactive and informative camp setting.
					For more information, please click <a href="past.html"><b>here</b></a>.</dd>
				</div>

				<div class="sec-faq">
					<dt id="2nd"><h5>What can I expect from Cyberia?</h5></dt>
					<dd>You will walk out with newfound Photoshop skill and certification for it, a new group of friends with common interests of art, and possibly the coveted Photoshop competition prizes.<br>
					Participants will learn Beginner and Intermediate Photoshop skills and their practical applications through rigorous training by professional Adobe-certified trainers and our select NUSSU commIT trainers. At the same time, participants can bond with people of the same keen interest through our fun games, some incorporating the Photoshop skills they have learnt. At the end of the camp, a Photoshop competition is held with attractive prizes to be won.</dd>
				</div>

				<div class="sec-faq">
					<dt id="3rd"><h5>Should I bring my own laptop?</h5></dt>
					<dd>No. Computers with the installed software is available for use during the camp period.</dd>
				</div>

				<div class="sec-faq">
					<dt id="4th"><h5>Can I use my own laptop?</h5></dt>
					<dd>Yes, as long as you have the software installed in your computer i.e. Adobe Photoshop CS6 and above.</dd>
				</div>

				<div class="sec-faq">
					<dt id="5th"><h5>What will be covered during the training?</h5></dt>
					<dd>The training of Cyberia is catered towards students who have little to no experience in Photoshop. Hence it will cover the usage of basic tools in photoshop, such as selection tools and concept of layers, up until intermediate tools and technique such as masking, filters, etc. Working with Acadia and their vastly experienced trainer Ricky, he would also share tips and tricks in Photoshop that will make your Photoshop introductory learning fun and effective.</dd>
				</div>

				<div class="sec-faq">
					<dt id="6th"><h5>Who are the trainers?</h5></dt>
					<dd>Day trainings will be conducted by professional Adobe-certified trainers from Acadia Training Pte Ltd and night trainings will be conducted by our select NUSSU commIT trainers.
					For more information, please click <a href="trainer-info.html"><b>here</b></a>.</dd>
				</div>

				<div class="sec-faq">
					<dt id="7th"><h5>I have signed up, but I suddenly realised I cannot make it. Can I get my money back?</h5></dt>
					<dd>It will be handled on case by case basis. Please contact <i class="fa fa-envelope"></i> <a href="mailto:cyberia@nussucommit.com">cyberia@nussucommit.com</a> for further information.</dd>
				</div>

				<div class="sec-faq">
					<dt id="8th"><h5>I couldn’t make it for the whole 3 days. Is it ok?</h5></dt>
					<dd>It' okay. However, you will not get any refunds for the days that you missed.</dd>
				</div>

				<div class="sec-faq">
					<dt id="9th"><h5>What is NUSSU commIT?</h5></dt>
					<dd>NUSSU commIT is a CCA under NUSSU welfare wing which provide IT and software training services for NUS students.
					Each semester, NUSSU commIT provides various workshops such as Excel, Adobe Photoshop and Web Design. NUSSU commIT also organized two major project, Cyberia Camp and ChariTeach. We are also in charge of handling two PC clusters and printing centre in NUS, namely the Central Library PC Cluster and YIH NUSSU commIT Centre. We offer both printing and scanning services but do not provide photocopy services.
					For more information, please click <a href="http://nussucommit.com/"><b>here</b></a>.</dd>
				</div>

				<div class="sec-faq">
					<dt id="10th"><h5>What will happen to my personal data that I submitted to Cyberia?</h5></dt>
					<dd>We recognise your rights as an individual to protect your personal data. We also abide by the Personal Data Protection Act 2012 (PDPA) of Singapore.
					For further details about NUSSU commIT Personal Data Protection Policy, please click <a href="http://nussucommit.com/faq/#tab6"><b>here</b></a>.</dd>
				</div>

				<p>For further enquiries, please contact us at
				<i class="fa fa-envelope"></i>
				<a href="mailto:cyberia@nussucommit.com">
					cyberia@nussucommit.com</a>.
				</p>

			</section>
		</section>
	</body>
</html>
