<!DOCTYPE html>
<html>
<head>
	<title>FAQ</title>
	<link rel="stylesheet" href="../css/styleforfaq.css" />
</head>
<body>

     <div id="header1">
         <a href="#" class="left-element">Welcome, friend!</a> 
         <a href="#" class="right-element">Home</a>
         <a href="#" class="right-element secElement">Register</a>
     </div>

    <section class="header2">
       <div>
    	<p id="faqheader">FAQ</p>
       </div>
    </section>

    <section class="mainpart">
    <section class="sidebar">
    	<h2>Content</h2>
    	<ul>
    		<li>
    			<a href="#first">What is Cyberia</a>
    		</li>
    		<li>
    			<a href="#second">Why do I need to take part in Cyberia</a>
    		</li>
    		<li>
    			<a href="#third">what else</a>
    		</li>
            <li>
                <a href="#forth">3333333</a>
            </li>
            <li>
                <a href="#fifth">4444444</a>
            </li>
    	</ul>
    </section>

    <section class="main-content">
        <div class="sec-faq">
        	<dt id="first">What is Cyberia</dt>
         	<dd>the first ddart of faq</dd>
        </div>

        <div class="sec-faq">
        	<dt id="second">Why do I need to take part in Cyberia</dt>
         	<dd>the first ddart of faq</dd>
        </div>

          <div class="sec-faq">
        	<dt id="third">What else</dt>
         	<dd>the first ddart of faq</dd>
        </div>

          <div class="sec-faq">
        	<dt id="forth">What elsssssse</dt>
         	<dd>the first ddart of faq</dd>
        </div>

          <div class="sec-faq">
        	<dt id="fifth">Wahtsaaasssss</dt>
         	<dd>the first ddart of faq</dd>
        </div>
    	
    </section>
    </section>
</body>
</html>