<!DOCTYPE html>
<html>
<head>
	<title>Past year photos</title>
  <link rel="stylesheet" href="../css/past.css" />
</head>
<body>
  <div id="header1">
          <a href="../index.html" class="right-element">Home</a>
          <a href="register.html" class="right-element secElement">Register</a>
  </div>
  <section class="content">
  <section class="sidebar_past">
    <h1>Introduction</h1>
    <p>aaa</p>
  </section>

  <section class="gallery">
  	<img src="../images/poster.jpg">
  	<img src="../images/poster.jpg">
          	<img src="../images/header.jpg">
  	<img src="../images/poster.jpg">
  	<img src="../images/poster.jpg">

  </section>

</section>
</body>
</html>>
