<!DOCTYPE html>
<html>
<head>
	<title>Past year photos</title>
  <link rel="stylesheet" href="../css/past.css" />
  <link rel="icon" href="../images/logo.ico" />
</head>
<body>
  <div id="header1">
          <a href="../index.html" class="right-element">Home</a>
          <a href="register.html" class="right-element secElement">Register</a>
  </div>
  <section class="content">
  <section class="sidebar_past">
    <h1>Introduction</h1>
    <p>aaa</p>
  </section>
	</section>


  <section class="gallery">
		<div>
			<p>2015</p>
		</div>
  	<div class="range"><img src="../images/selected_photos/1.jpg"></div>
<div class="range"><img src="../images/poster.jpg">
</div><div class="range" ><img src="../images/poster.jpg"></div>
<div class="range" ><img src="../images/poster.jpg"></div>
<div class="range" ><img src="../images/poster.jpg"></div>



</section>
</body>
</html>>
